# Coding Pirates Special Ignores
*.zip
*.exe

# Unity folders
/Unity/CP2680_TowerDefense/[Ll]ibrary/
#/Unity/CP2680_TowerDefense/[Ll]ibrary/metadata
#/Unity/CP2680_TowerDefense/[Ll]ibrary/PackageCache
#/Unity/CP2680_TowerDefense/[Ll]ibrary/ShaderCache
/Unity/CP2680_TowerDefense/[Tt]emp/
/Unity/CP2680_TowerDefense/[Oo]bj/
/Unity/CP2680_TowerDefense/[Bb]uild/
/Unity/CP2680_TowerDefense/[Bb]uilds/
#/Unity/CP2680_TowerDefense/Assets/AssetStoreTools*

/Unity/CP2680_TowerDefense/[Ll]ibrary/metadata
/Unity/CP2680_TowerDefense/[Ll]ibrary/previews
/Unity/CP2680_TowerDefense/[Ll]ibrary/ScriptAssemblies
/Unity/CP2680_TowerDefense/[Ll]ibrary/assetDatabase3
/Unity/CP2680_TowerDefense/[Ll]ibrary/AssetImportState
/Unity/CP2680_TowerDefense/[Ll]ibrary/assetservercachev3
/Unity/CP2680_TowerDefense/[Ll]ibrary/AssetServerCacheV3
/Unity/CP2680_TowerDefense/[Ll]ibrary/AssetVersioning.db
/Unity/CP2680_TowerDefense/[Ll]ibrary/AudioManager.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/BuildPlayer.prefs
/Unity/CP2680_TowerDefense/[Ll]ibrary/BuildSettings.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/DynamicsManager.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/EditorSettings.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/EditorUserBuildSettings.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/expandedItems
/Unity/CP2680_TowerDefense/[Ll]ibrary/FailedAssetImports.txt
/Unity/CP2680_TowerDefense/[Ll]ibrary/guidmapper
/Unity/CP2680_TowerDefense/[Ll]ibrary/InspectorExpandedItems.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/MonoManager.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/NetworkManager.asset
/Unity/CP2680_TowerDefense/[Ll]ibrary/ScriptMapper
/Unity/CP2680_TowerDefense/[Ll]ibrary/unity default resources
/Unity/CP2680_TowerDefense/[Ll]ibrary/unity editor resources


*.log

!/Unity/CP2680_TowerDefense/[Aa]ssets/**/*.meta
# Visual Studio cache directory
/.vs/


# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
*.dll